<div class="pullRequest-block text-center my-2 py-1">
  <h2 class="pullRequest-block__head py-1">Pull Request detail</h2>
  <div *ngIf="pullRequest$ | async as pullR; else loading" class="pullRequest-block__body">
    <div class="pullRequest__item px-2">
      <div class="pullRequest__body py-3">
        <p>
          <b>id: </b> {{pullR.number}}
        </p>
        <p>
          <b>State: </b> {{pullR.state}}
        </p>
        <p>
          <b>Title: </b> {{pullR.title}}
        </p>
        <p>
          <b>Body: </b> {{pullR.body}}
        </p>
        <p>
          <b>Created at: </b> {{pullR.created_at}}
        </p>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <app-loader></app-loader>
  </ng-template>
</div>
